doctype html
html
  head
    title= title
    script(type='text/javascript', src='main.js')
    script(src='main.coffee', type='text/coffeescript')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    meta(name='Germán Paz Méndez', content='')
    |         
    link(rel='icon', href='assets/img/favicon.ico')
    // Bootstrap core CSS
    link(href='stylesheets/assets/css/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    |         
    link(href='stylesheets/assets/css/style.css', rel='stylesheet')
    |         
    link(href='stylesheets/global.css', rel='stylesheet', type='text/css')
  body
    block content